* {
	font-family: 'Josefin Sans', sans-serif;
}

.signUpForm {
	position: relative;
	background-color: #fefefe;
	padding: 10px;
	border-radius: 25px;
	margin: 30px auto;
	border: 1px solid #474747;
	width: 80vw;
	max-width: 500px;
	display: flex;
}

.loginInput {
	-webkit-user-select: text; /* Chrome, Opera, Safari */
	-moz-user-select: text; /* Firefox 2+ */
	-ms-user-select: text; /* IE 10+ */
	user-select: text; /* Standard syntax */
}
