* {
	font-family: 'Josefin Sans', sans-serif;
	
}

.SignUp-h1 {
	margin-top: -10px;
}
.signUpForm {
	background-color: #fefefe;
	padding: 10px;
	border-radius: 25px;
	margin: 30px 50px;
	border: 1px solid #474747;
	margin-top: 20px;
}

.signUpButton {
font-family: "Josefin Sans", sans-serif;
font-weight: bold;
font-size: 13px;
background-color: #5aaaa6;
color: white;
text-decoration: none;
border: 1px solid #47474782;
border-radius: 25px;
padding: 0.3rem 0.5rem;
width: 20vw;
display: inline-block;
justify-content: center;
align-items: center;
margin-bottom: 30px;
margin-left: 10px;
margin-top: 10px;
}

.signup-x-button {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    justify-content: flex-end;
    position: relative;
    z-index: 0;

  }

  .signupLine {
    display: flex;
    justify-content: center;
    z-index: 999;  
  }
  .orSignupLine {
    width: 65vw;
    height: 2px;
    background-color: #47474782;
    opacity: 50%;
    position: relative;
    bottom: 0;
    margin-top: 50px;
    margin-bottom: 30px;
    z-index: 2;
  }
  
  .orSignupText {
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: black;
    text-decoration: none;
    border: 1px solid #47474782;
    background-color: #fefefe;
    border-width: 2px;
    border-radius: 45%;
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 3;
    position: absolute;
    left: 49%;
    top: 54.5%;
    transform: translate(-50%, -50%);
    padding: 5px 15px 5px 15px;
  }
  