* {
	font-family: 'Josefin Sans', sans-serif;
}

.createEventHeader {
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: flex-end;
	position: relative;
	z-index: 0;
}

.closeFormButton {
	justify-content: center;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	font-size: 0.7rem;
	background-color: #d56b63;
	color: white;
	text-decoration: none;
	border: 1px solid #47474782;
	align-items: center;
	border-radius: 50%;
	display: flex;
	width: 1.5rem;
	height: 1.5rem;
	margin: 1.5rem;
	padding-top: 5px;
}

#event-form-container {
	background-color: #fefefe;
	padding: 10px;
	border-radius: 25px;
	margin: 0px auto;
	border: 1px solid #474747;
	margin-top: 20px;
	margin-bottom: 7rem;
	width: 80vw;
	max-width: 500px;
}

form {
	display: flex;
	flex-direction: column;
	gap: 16px;
	/* justify-content: space-around; */
	margin-top: 1.5vw;
	text-align: start;
	z-index: 2;
}

input,
textarea {
	border-radius: 25px;
	width: 60vw;
	padding: 3px;
	height: 25px;
	border: 1px solid #47474782;
	text-indent: 5px;
	max-width: 400px;
	align-self: center;
	touch-action: manipulation;
	user-select: none;
}

#description {
	height: 100px;
	overflow: auto;
	border-radius: 25px;
	padding-top: 10px;
	border: 1px solid #47474782;
	width: 60vw;
	resize: vertical;
	max-width: 400px;
}

#submit {
	background-color: #5aaaa6;
	color: white;
	height: 35px;
	margin-top: 10px;
	font-size: 16px;
	font-weight: bold;
	width: 30vw;
	box-shadow: 10px;
	position: relative;
	margin-bottom: 35px;
	max-width: 300px;
}

#submit:hover {
	cursor: pointer;
}

label {
	font-size: 0.9rem;
	margin-left: 4vw;
}

/* .price,
.capacity {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  border: 1px solid #47474782;
  border-radius: 25px;
  padding: 0.3rem 0.5rem;
  width: 5vw;
} */

.price,
.capacity {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	font-size: 16px;
	text-decoration: none;
	border: 1px solid #47474782;
	border-radius: 25px;
	padding: 0.3rem 0.5rem;
	width: fit-content; /* Set width based on content */
	max-width: 5vw; /* Set minimum width to ensure consistency */
	text-align: start;
}
