/* #search {
	margin-top: 10px;
	margin-right: 10px;
} */

.SearchIcon {
	width: 20px;
	height: auto;
}

.searchContainer {
	display: flex;
	align-items: center;
	margin-top: 0.3rem;
}

#search {
	max-width: 40vw;
	max-height: 15px;
}

.SearchIcon:hover {
	cursor: pointer;
}
