/* #search {
	margin-top: 10px;
	margin-right: 10px;
} */

.SearchIcon {
	width: 20px;
	height: auto;
}

.searchContainer {
	display: flex;
	align-items: center;
	margin-top: 0.3rem;
}

#search {
	max-width: 40vw;
	max-height: 15px;
	-webkit-user-select: text; /* Chrome, Opera, Safari */
	-moz-user-select: text; /* Firefox 2+ */
	-ms-user-select: text; /* IE 10+ */
	user-select: text; /* Standard syntax */
}

.SearchIcon:hover {
	cursor: pointer;
}
