.EventCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 7vw;
  width: 90vw;
}

.JoinButton {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 15px;
  background-color: #5aaaa6;
  color: white;
  text-decoration: none;
  border: 1px solid #47474782;
  /* align-items: center; */
  border-radius: 25px;
  padding: 0.3rem 0.5rem;
  width: 20vw;
  margin-bottom: 30px;
  margin-left: 5px;
}

.JoinedButton {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 15px;
  background-color: #d56b63;
  color: white;
  text-decoration: none;
  border: 1px solid #47474782;
  /* align-items: center; */
  border-radius: 25px;
  padding: 0.3rem 0.5rem;
  width: 20vw;
  margin-bottom: 30px;
  margin-left: 5px;
}

h2 {
  margin: 5px 7px;
  font-size: 1.3rem;
  color: #d56b63;
  font-weight: bold;
}

p {
  margin: 5px 5px 7px 10px;
  font-size: 1rem;
  align-items: center;
}
.img-container {
  width: 80vw;
  height: auto;
}

.img-icon {
  width: 20px;
  height: auto;
  margin-left: 7px;
  margin-bottom: 5px;
  align-items: center;
}

.img-icon-top {
  width: 20px;
  height: auto;
  margin-top: 5px;
  margin-left: 7px;
  margin-bottom: 5px;
  align-items: flex-start;
}

.EventCardContainer p {
  width: 80vw;
}

.event-img {
  width: 100%;
  height: 50vw;
  object-fit: cover;
  border-bottom: 1px solid #47474782;
  border-radius: 19px 19px 0 0;
}

.event-img:hover {
  cursor: pointer;
}
.EventTitleAndDots {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  margin-bottom: 5px;
}

.eventTitle-dots {
  width: 23px;
  height: auto;
  padding-right: 10px;
}

.EventDateAndCity {
  display: flex;
  justify-content: space-between;

  align-items: flex-start;
  width: 80vw;
  /* margin-bottom: 5px; */
}

.EventAddressAndPostcode {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
}

.TextBorder {
  border: 1px solid #47474782;
  border-radius: 20px;
  width: 80vw;
  background-color: #fefefe;
  padding: 0px 10px;
  box-shadow: 3px 3px 3px 0px rgb(132, 132, 132);
}

.EventDescription {
  margin-bottom: 10px;
  line-height: 1.4;
}

.PriceAndSpaces {
  display: flex;
  flex-direction: row;
  padding: 0px 0px 10px 0px;
}

/* show events in rows of 4 on larger screens */

@media (min-width: 768px) and (max-width: 1200px) {
  .EventCardContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
  }

  .event-card {
    max-width: 40vw;
    height: auto;
  }
  .event-img,
  .EventTitleAndDots,
  .EventDateAndCity,
  .TextBorder,
  .EventCardContainer p {
    max-width: 40vw;
  }

  .event-img {
    width: auto;
    height: 30vw;
    object-fit: cover;
  }
}

@media (min-width: 1201px) {
  .EventCardContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: flex-start;
  }

  .event-card {
    max-width: 20vw;
    height: auto;
  }
  .event-img,
  .EventTitleAndDots,
  .EventDateAndCity,
  .TextBorder,
  .EventCardContainer p {
    max-width: 20vw;
  }

  .event-img {
    width: auto;
    height: 15vw;
    object-fit: cover;
  }
}
