.EventCardContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.EventCardContainer h1 {
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
}

.EventCardContainer img {
	max-width: 80vw;
	height: auto;
	border: 2px solid #474747;
	border-radius: 25px 25px 0 0;
}

.event-img:hover {
	cursor: pointer;
	transform: scale(0.99);
}
