.EventCardContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.EventCardContainer p {
	width: 80vw;
}

.EventCardContainer img {
	max-width: 80vw;
	height: auto;
	border-bottom: 2px solid #474747;
	border-radius: 25px 25px 0 0;
}

.event-img:hover {
	cursor: pointer;
}

.EventDateAndCity {
	display: flex;
	justify-content: space-between;
	align-items: left;
	width: 80vw;
	margin: 0 auto;
	line-height: 0.4;
}

.EventAddressAndPostcode {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80vw;
	margin: 0 auto;
	line-height: normal;
}

.TextBorder {
	border: 2px solid #474747;
	border-radius: 25px 25px 25px 25px;
}
