.EventCardContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 6vw;
	/* margin-bottom: 7vw; */
	width: 81vw;
	margin-left: auto;
	margin-right: auto;
	height: 40vw;
	margin-bottom: 730vw;
}

.JoinButton {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	font-size: 15px;
	background-color: #5aaaa6;
	color: white;
	text-decoration: none;
	border: 1px solid #47474782;
	border-radius: 25px;
	padding: 0.2rem;
	width: 4rem;
	margin-bottom: 3rem;
	margin-right: 5px;
}

.JoinedButton {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	font-size: 15px;
	background-color: #d56b63;
	color: white;
	text-decoration: none;
	border: 1px solid #47474782;
	border-radius: 25px;
	padding: 0.2rem;
	width: 5vw;
	min-width: 72px;
	margin-bottom: 3rem;
	margin-right: 5px;
}

h2 {
	margin: 5px 7px;
	font-size: 1rem;
	color: #d56b63;
	font-weight: bold;
}

p {
	margin: 5px 5px 7px 10px;
	font-size: 0.7rem;
	align-items: center;
}

.img-icon {
	width: 20px;
	height: auto;
	margin-left: 7px;
	margin-bottom: 5px;
	align-items: center;
}

.img-icon-top {
	width: 20px;
	height: auto;
	margin-top: 5px;
	margin-left: 7px;
	margin-bottom: 5px;
	align-items: flex-start;
}

.EventCardContainer p {
	width: 72vw;
}

.JoinButtonContainer {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	max-width: 72vw;
	margin-top: 4vw;
	margin-bottom: -3rem; 
}

.event-img {
	width: 100%;
	object-fit: cover;
	height: 50vw;
	border-bottom: 1px solid #47474782;
	border-radius: 19px 19px 19px 19px;
}

.event-img:hover {
	cursor: pointer;
}
.EventTitle {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 72vw;
	margin-bottom: 5px;
}

.EventDateAndCity {
	display: flex;
	justify-content: space-between;

	align-items: flex-start;
	width: 72vw;
	margin-bottom: 5px;
}

.EventAddressAndPostcode {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 72vw;
}

.TextBorder {
	border: 1px solid #47474782;
	border-radius: 20px;
	width: 72vw;
	background-color: #ffffff;
	padding: 0px 25px;
	box-shadow: 3px 3px 3px 0px rgb(132, 132, 132);
}

.EventDescription {
	margin-bottom: 10px;
	line-height: 1.4;
}

.EventDescriptionShort {
	margin-bottom: 10px;
	line-height: 1.4;
	color: black;
	font-size: 12px;
	
}

.PriceAndSpaces {
	display: flex;
	flex-direction: row;
	padding: 0px 0px 10px 0px;
}

/* show events in rows of 4 on larger screens */

@media (min-width: 768px) and (max-width: 1200px) {
	.JoinButtonContainer {
		width: 72vw; /* Maintain the fixed width for large screens */
		margin-left: auto;
		margin-right: auto;
	} 

	.JoinButton, .JoinedButton {
		margin-bottom: 2rem;
	}

	.EventCardContainer {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: flex-start;
		gap: 6vw;
		margin-left: 6vw;
		margin-right: auto;
		margin-bottom: 180vw;
	}

	.event-card {
		max-width: 40vw;
		height: 40vw;
		margin-bottom: 8vw;
	}

	.event-card.show {
		margin-bottom: 28vw;
	}
	.event-img,
	.JoinButtonContainer,
	.EventTitle,
	.EventDateAndCity,
	.TextBorder,
	.EventCardContainer p {
		max-width: 35vw;
	}

	.event-img {
		width: 100%;
		height: 30vw;
		object-fit: cover;
	}
}

@media (min-width: 1201px) {
	.JoinButtonContainer {
		width: 72vw; /* Maintain the fixed width for large screens */
		margin-left: auto;
		margin-right: auto;
		margin-top: 2vw;
		margin-bottom: -5rem;
	}

	.JoinButton, .JoinedButton {
		margin-bottom: 2rem;
	}

	.EventCardContainer {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		align-items: flex-start;
		gap: 9vw;
		margin-left: 4vw;
		margin-right: auto;
		margin-bottom: 30vw;
	}

	.event-card {
		max-width: 15vw;
		height: 20vw;
		margin-bottom: 1vw;
	}
	.event-card.show {
		margin-bottom: 13vw;
	}

	.event-img,
	.JoinButtonContainer,
	.EventTitle,
	.EventDateAndCity,
	.TextBorder,
	.EventCardContainer p {
		max-width: 18vw;
	}

	.event-img {
		width: auto;
		height: 15vw;
		object-fit: cover;
	}
}
