.hello-name {
    margin: 5px 5px 20px 50px;
    text-align: left;
    font-size: 1.5rem;
       color: #000000;
   }
   
   .welcome-member {
    margin: 1rem 2rem 2rem 4rem;
    text-align: left;
    font-size: 1rem;
       color: #000000;
       opacity: 50%;
   }

   .header-container {
    display: flex;
    justify-content: space-between;
}

