.landing-page button {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 15px;
  background-color: #5aaaa6;
  color: white;
  text-decoration: none;
  border: 1px solid #47474782;
  /* align-items: center; */
  border-radius: 25px;
  padding: 0.3rem 0.5rem;
  width: 20vw;
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-left: 5px;
  position: relative;
}

.landing-page-container {
  margin-left: 35px;
}
