.btnContainer {
display: flex;
justify-content: center;
padding-bottom: 5%;
}

.btnPrimary {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    background-color: #d56b63;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    padding: 6.5px;
    width: 60vw;
    box-shadow:#d56b63
}