.bottomBarContainer{
  width: 100vw;
  background-color: #FEFEFE;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottomLine {
  width: 100vw;
  height: 2px;
  background-color: #47474782;
  position: fixed;
  bottom: 0;
  margin-bottom: 2.2rem;

}
.btnContainer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FEFEFE;
  width: 100vw;
}

.btnPrimary {
  font-family: "Josefin Sans", sans-serif;
  font-weight: regular;
  font-size: 3rem;
  background-color: #5AAAA6;
  color: white;
  text-decoration: none;
  border: 1px solid #47474782;
  align-items: center;
  border-radius: 50%;
  /* box-shadow: h-offset v-offset blur spread color */
  /* box-shadow: 3px 3px 3px 0px rgb(132, 132, 132); */
  display: flex;
  justify-content: center;
  width: 3.5rem ;
  height: 3.5rem;
  margin: 0.5rem;
  /* height: 40px; */
}
