.btnContainer {
	display: flex;
	justify-content: center;
	padding-bottom: 5%;
}

.btnPrimary {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	font-size: 18px;
	background-color: #d56b63;
	color: white;
	text-decoration: none;
	border: 2px solid #474747;

	border-radius: 25px;
	padding: 3px 0;
	width: 60vw;
	box-shadow: 0px 7px 10px -10px rgb(61, 61, 61);
}
