.bottomBarContainer {
  position: sticky;
  width: 100vw;
  background-color: #FEFEFE;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Increase the z-index to bring the container forward */
}

.bottomLine {
  width: 100vw;
  height: 2px;
  background-color: #47474782;
  position: fixed;
  bottom: 0;
  margin-bottom: 2.2rem;
  z-index: 0; /* Set a lower z-index to move the line behind other elements */
}

.btnContainer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  z-index: 2; /* Increase the z-index to bring the container forward */
  background-color: rgba(254, 254, 254, 0.5);
}

.btnPrimary {
  font-family: "Josefin Sans", sans-serif;
  font-weight: regular;
  font-size: 3rem;
  background-color: #5AAAA6;
  color: white;
  text-decoration: none;
  border: 1px solid #47474782;
  align-items: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin: 0.5rem;
  z-index: 3; /* Increase the z-index to bring the button forward */
}
.btnPrimary:hover{
  cursor: pointer;
}
