.logo-container {
	display: flex;
	align-items: center;
	margin-top: 10px;
	/* margin-left: 2px; */
}

#logo {
	width: 60px;
	height: auto;
}

/* .line {
	margin-right: 7px;
	width: 2px;
	background-color: #5aaaa6;
	height: 32px;
} */

h1 {
	color: #5aaaa6;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.2em;
}
